
@import "animate.styl"
@import "grid.styl"
@import "utils.styl"
@import "base.styl"
@import "media.styl"

// 全局样式
.vertical-center-modal
  display: flex
  align-items: center
  justify-content: center
  .ivu-modal
    top: 0
