@media (max-width: 576px)
  .sign-table .table-0,
  .sign-table .table-2,
  .jfcard-table
    .table
      width: 100%

@media (min-width: 576px) and (max-width: 992px)
  .match-list
    .match-card
      margin-bottom: 2%
      width: 100%
  // 2列
  .sign-table .table-0,
  .sign-table .table-2
    .table
      margin-bottom: 1.2%
      margin-left: 1.2%
      width: 48.2%

@media (min-width: 993px) and (max-width: 1200px)
  .match-list
    .match-card
      margin-left: 1.5%
      margin-bottom: 1.5%
      width: 47.75%
   // 4列
  .sign-table .table-0,
  .sign-table .table-2
    .table
      margin-bottom: 1.2%
      margin-left: 1.2%
      width: 23.5%

@media (min-width: 1201px) and (max-width: 1490px)
  .match-list
    .match-card
      margin-left: 1.5%
      margin-bottom: 1.5%
      width: 31.3333%
  // 5列
  .sign-table .table-0,
  .sign-table .table-2
    .table
      margin-bottom: 1.2%
      margin-left: 1.2%
      width: 18.56%

@media (min-width: 1491px) and (max-width: 1860px)
  .match-list
    .match-card
      margin-left: 1.5%
      margin-bottom: 1.5%
      width: 23.125%
  // 6列
  .sign-table .table-0,
  .sign-table .table-2
    .table
      margin-bottom: 1.2%
      margin-left: 1.2%
      width: 15.2666%

@media (min-width: 1861px)
  .tables-list
    .box, .table
      margin-bottom: 1.2% !important
      margin-left: 1.2% !important
    .box
      width: 15.2666% !important
    .table
      width: 31.7333% !important
  .match-list
    .match-card
      margin-left: 1.5%
      margin-bottom: 1.5%
      width: 18.2%
  .sign-table .table-0,
  .sign-table .table-2
    .table
      margin-bottom: 1.2%
      margin-left: 1.2%
      width: 12.9142%
  .jfcard-table
    .table
      margin-left: 1.2%
      margin-bottom: 1.2%
      width: 31.7333%

// 打印页面
@media print
  .print-view
    .print-view-header
      display: none
    // .print-view-body
    //   .table
    //     max-width: 794px
