
@media (min-width: 1450px) and (max-width: 1780px)
  .tables-card
    width: 23.125%

@media (min-width: 1160px) and (max-width: 1449px)
  .tables-card
    width: 31.333%

@media (min-width: 880px) and (max-width: 1159px)
  .tables-card
    width: 47.75%

@media (max-width: 879px)
  .tables-card
    width: 100%

@media print {
  .tables-card {
    width: 31.333%
  }
}

// 自适应布局：1列
@media (max-width: 992px)
  .match-list
    .match-card
      margin-bottom: 2%
      width: 100%

// 自适应布局：2列
@media (min-width: 993px) and (max-width: 1200px)
  .match-list
    .match-card
      margin-left: 1.5%
      margin-bottom: 1.5%
      width: 47.75%

// 自适应布局：3列
@media (min-width: 1201px) and (max-width: 1490px)
  .match-list
    .match-card
      margin-left: 1.5%
      margin-bottom: 1.5%
      width: 31.3333%

// 自适应布局：4列
@media (min-width: 1491px) and (max-width: 1860px)
  .match-list
    .match-card
      margin-left: 1.5%
      margin-bottom: 1.5%
      width: 23.125%

// 自适应布局：5列
@media (min-width: 1861px)
  .match-list
    .match-card
      margin-left: 1.5%
      margin-bottom: 1.5%
      width: 18.2%
